# Compiled class file
*.class

# Log file
*.log

*.metadata

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.pyc
*.xtendbin

## ignore certain files
test/proguard.cfg

## ignore keystores related files
*.keystore
release.properties

## ignore temp files from various editors
.DS_Store
*~
*.swp
Back to Top
